.auto-style1 {
    width: 78px;
}

#txtNombre {
    width: 251px;
}

#txtApellidos {
    width: 251px;
}

#txtCiudad {
    width: 200px;
}

.auto-style2 {
    width: 172px;
}

footer {
	width: 63%;
    height: 100px;
    background: #65000b;
    border-top: 1px solid;
    position: absolute;
    bottom: 0;
    color: white;
}